*
html
    font-family: Museo Sans Cyrl, sans-serif

@import "base/_variables"
@import "base/_mixins"
@import "blocks/_promo"
@import "blocks/_header"
@import "blocks/_buttons"
@import "blocks/_advantages"
@import "_media"
@import "blocks/_consultation"
@import "block/_forms"
.container
    max-width: 950px
    margin: 0 auto


