.header
    display: flex
    justify-content: space-between
    align-items: center
    &__official
        color: #fff
        font-size: 12px
        font-weight: 400
        text-align: center
        span
            display: block
            font-size: 18px